node_modules/
dist/
dist/**
.env
.DS_Store
*.log
firebase-debug.log
functions/node_modules/
functions/.env

# Local Netlify folder
.netlify
.bubblewrap/
android_sdk/
app/build/
build/
android.keystore
